/******************** General ********************/
:root {
    --blue-gradient-radial: radial-gradient(rgb(139,195,245),#2394b8);
    --red-gradient-radial: radial-gradient(rgb(245, 139, 139),rgb(184, 35, 35));
    --green-gradient-radial: radial-gradient(rgb(181, 245, 139),#23b823);
    --purple-gradient-radial: radial-gradient(rgb(220, 139, 245),#8e23b8);

    --gris-background: rgb(247, 247, 247);

    --blue-button-neutre:#2394b8;
    --color-primary-gradient: rgb(139,195,245); 
    --blue-button-hover:rgb(45, 177, 218);  
    --blue-button-active:rgb(0, 108, 138);

    --red-button-neutre:rgb(184, 35, 35);


    --green-button-neutre:rgb(35, 184, 35);

    
    --purple-button-neutre:rgb(142, 35, 184);

    

    --red-button-hover:rgb(224, 42, 42);

    --green-button-hover:rgb(44, 228, 44);

    --purple-button-hover:rgb(173, 42, 224);

  

    --red-button-active:rgb(129, 24, 24);

    --green-button-active:rgb(25, 124, 25);

    --purple-button-active:rgb(84, 20, 109);
    
    --gris-font-home: rgb(56, 56, 56);

    /* config couleurs par défaut */
    --color-primary: rgb(35, 148, 184);
    --color-primary-gradient: rgb(139,195,245);   
    --color-secondary:rgb(45, 177, 218);
    --color-tertiary: rgb(0, 108, 138);

    --gradient-radial-primary: radial-gradient(var(--color-primary-gradient), var(--color-primary));
    --gradient-radial-secondary: radial-gradient(rgb(220, 139, 245),#8e23b8);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

button{
    cursor: pointer;
}

.titreSection{
    text-align: center;
    font-size: 3em;
}

.soustitreSection{
    text-align: center;
    font-weight: light;
    font-size: 1.5em;
    color: gray;
}

/********** Color theme **********/
.themeColorChangeBackImg{  /* class qui affecte les background-img utilisant le gradient radial : #home, .featuresD/C/S,  */

}

.themeColorChangeAnimation{
    

}


/*********** Back to the top Button **********/
#topScroll{
    position:fixed;    
    bottom: 25px;
    right: 25px;

    color: rgb(36, 36, 36);
    font-size: 4em;

    background-color: white;
    border-radius: 50%;
}

/*********** Gear Bloc **********/
#gearContent{    
    width: 150px;
    height: 250px;

    padding: 10px;

    position: fixed;
    top: 100px;
    left: 0px;

    background: rgba(37, 37, 37, 0.3);
}

/***** button/icon *****/
#gearBtn{
    border: 0;
    background:none;
}

#gearIcon{
    font-size: 4em;
}

/********** Gear Menu **********/
#gearMenu{

}

/********** Gear Color Menu **********/
#gearColorMenu{
    display: flex;
    flex-direction: column;

}

#gearThemeBlue {
    width: 50px;
    height: 50px;
    background: blue;
    border: 0;
}

#gearThemeRed {
    width: 50px;
    height: 50px;
    background: red;
    border: 0;
}

#gearThemeGreen {
    width: 50px;
    height: 50px;
    background: green;
    border: 0;  
}

#gearThemePurple {
    width: 50px;
    height: 50px;
    background: purple;
    border: 0;
}


/******************** Section HOME ********************/
#home{
    padding: 0 8%;
    height: 100%;
    
    background-image: radial-gradient(rgb(139,195,245),rgb(35, 148, 184))
}



/********** Header **********/
header{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

h1 {
    font-size: 2.5em;
    flex: 1;
}

/********** nav **********/
nav{
    flex: 2.5;
    font-size: 1.2em ;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    width: 100%;
}

/********** menuBurger **********/
.navMenuBurger li {
  overflow: hidden;
}

.iconClassBurger {
    font-size: 1.2em ;
    display: none;
}

/*********** homeSocials **********/
.homeSocials{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
}

.homeSocials a{
    color: white;
}

.homeSocials i{
    padding: 0 12px;
}

/********** homeContent **********/
#homeContent{
    height: 95vh; 
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 2em;

    color: rgb(56, 56, 56) ;
}

#homeContent article{
    flex: 1;
}

#homeContent figure {
    flex: 1.2;
}

/********** homeText **********/
#homeText h2{  /* le padding permet au texte d'être légèrement plus bas que l'img et avoir un meilleur visuel */
    padding-top: 40px;
    margin-bottom: 30px;
    font-size: 4.8em;
    font-weight: bold;
}

#homeText p{
    max-width: 500px;
    margin: 30px 0;

    font-size: 1.3em;
    text-align: justify;
    font-weight: lighter;
}

/********** form **********/
#homeContent form{
    position: relative;
    max-width: 500px;

    display: flex;
    align-items: center;
}

#homeContent input{ /* texte sur le form  */
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-radius: 24px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.7);
    color: gray;
}

#homeContent input:focus-visible{ /* texte sur le form  */
    outline: none;
}

.submitEmail{ /* button du form */
    position: absolute;  
    right: 10px;

    height: 40px;
    width: 95px;

    border-radius: 21px;
    border: 0;

    background-color: var(--color-primary);
    color: white;
    /* transition: 0.3s; */

    text-transform: uppercase;
} 

.submitEmail:hover{
    transition: 0.3s;
    background-color: var(--color-tertiary);
}

.submitEmail:active{
    transition: 0.3s;
    background-color: var(--color-secondary);
}

/******************** Section Features ********************/
#features{
    height: 1000px;
    padding: 0 8%;
}

.featuresText{
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.featuresText h2{
    font-size: 3em;
    padding-bottom: 36px;
}

.featuresText p{
    width: 35%;
    font-weight: light;
    font-size: 1.5em;
    color: gray;
}

#features article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 100%;
}

#features article h2,
#features article p{
    text-align: center;
}

/********** featuresContent **********/
.featuresContent{ 
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.featuresDesign, 
.featuresColors, 
.featuresSolutions{
    width: 450px;
    height: 450px;

    margin: 0 10px;
    padding: 0 20px;

    /* background: var(--gradient-radial-primary); */

    border-radius: 5%;
    box-shadow:6px 6px 13px rgb(196, 196, 196);

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    color: white;
    
    transition: 0.3s ease-in;
    bottom: 0px;
}

.featuresDesign i,
.featuresColors i,
.featuresSolutions i{
    font-size: 3em;
    color: white;
    padding-bottom: 25px;
}

.featuresDesign h3,
.featuresColors h3,
.featuresSolutions h3{
    padding: 10px 0;
    font-size: 2em;
}

.featuresDesign p,
.featuresColors p,
.featuresSolutions p{
    font-weight: lighter;
}

.featuresDesign:hover,
.featuresColors:hover,
.featuresSolutions:hover{
    transition: 0.3s ease-out;
    bottom: 30px;
}

#featuresDesignIdTrans{
    /* background: linear-gradient(180deg, #ff7147, #e0417f); */
    background: radial-gradient(rgb(139,195,245),rgb(35, 148, 184));
    

    transition: all 0.1s ease-out;
}

/******************** Section Work ********************/
#work{
    background-color:  var(--gris-background);
    text-align: center;
    height: 800px;
}

#work article{
    height: 100%;
}

.workText{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workText h2{
    font-size: 3em;
    font-weight: bold;
}

.workText p{
    padding: 0 20%;
}

/******************** Section FAQ ********************/
#faq{
    height: 1000px;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}

/********** faqText **********/
#faqText{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#faqText h2 {
    text-align: center;
    padding: 0 25%;
}

#faqText p{
    padding: 0 25%;
}

/********** faqContent **********/
#faqContent{
    height: 100%;
    display: flex;
    justify-content: space-around;
}

/********** faqBloc  **********/
.faqBloc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 

    text-align: center ;
}

/* Elements textes au dessus de <figure><img>  */
#faqContent h3{ 
    font-size: 2em;
    font-weight: bold;
}

#faqContent p{
    font-size:  1.2em;
    color: gray;
    font-weight:300;
}

/* Elements textes en dessous de <figure><img>  */
#faqContent h4{
    font-size: 1.5em;
    font-weight: 400 ;
}

.faqDescription p{
    font-size: 1.1em;
    color: gray;
}

.faqBloc figure img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    filter: grayscale(100%);
    transform-origin: 50% 50%;
    transition: 0.3s;
}

.faqImgConteneur{
    border-radius: 50%;
    overflow: hidden;
}

.faqOverlay{
    width:250px;
    height:250px;
    position: relative;
}

.faqSocials{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: absolute;
    bottom: 110px;
    left: 0px;

    transition: 0.3s;
}

.faqSocials a{
    width: 25px;
    height: 25px;
    margin: 10px 0;

    color: initial;
    border-radius: 50%;

    background-color: white;

    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.faqOverlay:hover img{
    filter: grayscale(0%);
    scale: 1.5;
    transition: 0.3s;
    transform: scale(0.8);
}

.faqOverlay:hover .faqSocials{
    opacity: 1;
    bottom: 60px;
    left: 25px;
    transition: 0.3s;
}

/******************** Section Kucra ********************/
#kucra{    
    width: 100%;
    height: 700px;

    background-image:url(../img/parallax.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:50%;
    background-size:cover;
}

#kucraBackground{ 
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.6);
}

#kucra article { 
    height: 100%;

    padding: 8% 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: white;
    text-align: center;
}

#kucra p{
    padding: 0 25%;

    color: rgb(218, 218, 218);
}

/********** Button **********/
#btnKucra{    
    height: 45px;
    width: 150px;

    background: none;

    border: 2px solid rgb(218, 218, 218) ;
    border-radius: 5px;

    font-size: 1em;
    text-align: center;

    transition-duration: 0.3s;
}

#btnKucra a{
    color: rgb(218, 218, 218);
    text-decoration: none;
}

#btnKucra:hover{ /* modif en hover */
    transition-duration: 0.3s;
    background:  rgba(87, 87, 87, 0.6);
}

#btnKucra:active{ /* modif appliqué lors d'un clic */
    transition-duration: 0.3s;
    background:  rgba(36, 36, 36, 0.6);
}

/******************** Section Client ********************/
#client{
    height: 800px;
    padding: 0 10%;
    background-color: var(--gris-background);
}

#client article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#clientText p{
    padding: 0 25%;
}

#clientGalerie{
    padding: 0 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgClient{
    width: 120px;
    opacity: 0.6;
    transition: 0.3s;
}

.imgClient:hover{
    scale: 1.6 ;
    opacity: 1;
    transition: 0.3s;
}

/******************** Section About ********************/
#about{
    height: 800px;
    padding: 8% 8%;
}

#about article{
    display: flex;
    justify-content: space-around;
}

#aboutContent{
    width: 45%;
}

/********** aboutText **********/
.aboutText h2{
    font-size: 2.2em;
    padding: 45px 0;
}

.aboutText p{
    width: 90%;
    font-size: 1.5em;
    font-weight: 300 ;
    color: gray;
}

/********** aboutBloc **********/
.aboutBloc{ 
    width: 40%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.aboutBloc h3{
    font-size: 1.7em;
}

.aboutBloc p{
    font-size: 1.2em;
    color: gray;
}

/********** Button **********/
#aboutContent button{
    width: 150px;
    height: 45px;
    
    border: 0;
    border-radius: 5px;
    
    background-color: var(--color-primary) ;

    color: white;
    font-size: 1em;

    transition: 0.3s;
}

#aboutContent button:hover{
    background-color: var(--color-tertiary);
    transition: 0.3s;
}

#aboutContent button:active{
    background-color: var(--color-secondary);
    transition: 0.3s;
}

/********** figure **********/
#about article figure{
    width: 45%;
}

#about article figure img{
    width: 100%;
}

/******************** Section Pricing ********************/
#pricing{
    height: 1000px;
    background-color: var(--gris-background);
    padding: 0 10%;
}

#pricing article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/***** pricingText *****/
#pricingText{
    width: 100%;
}

#pricingText p{
    padding: 0 27% ;
}

/***** pricingContent *****/
#pricingContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pricingStart, 
#pricingAdv, 
#pricingPro{ /* affecte pricingStart/advanced/pro */ 
    width: 325px;
    height: 450px ;

    position: relative;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: white;

    border-radius: 15px;
    box-shadow: 6px 6px 13px rgb(196, 196, 196);

    margin: 0 10px;
    padding: 0 20px;

    transition: 0.3s ;
}

#pricingStart:hover, 
#pricingAdv:hover, 
#pricingPro:hover{ 
    bottom: 15px;
    transition: 0.3;
}

#pricingStart h3, 
#pricingAdv h3, 
#pricingPro h3 {  /* affecte les titres Starter / Advanced / Professional */
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    z-index: 10;
}

#pricingStart h3 i,
#pricingAdv h3 i, 
#pricingPro h3 i{ 
    font-size: 1em;
    padding: 0 5px;
    text-align: center;
}

.pricingSales{
    width: 50px;
    height: 50px;
    padding: 8px 0;

    background-color: var(--color-primary);

    position: absolute;
    top: 0px;
    right: 0px;

    border-bottom-left-radius:25%;
    border-top-right-radius:25%;

    text-align: center;
    color: white;
    line-height: 15px;
}

.pricingPrix{ /* sous titre : prix/month */
    text-align: center;
    font-size: 1.1em;
}

.pricingPrix span{ /* le prix */
    color:var(--color-primary);
    font-size: 3em;
}

.pricingPrix sup{ /* le symbole dollar, lui permet d'être surélevé */
    color:var(--color-primary);
    font-size: 30px ;
}

.pricingDropdownContent{ /* div avec la liste et le btn */
 height: fit-content;
}

.pricingDropdownContent ul {  /* aligne verticalement les <li> et mets de l'espace entre eux */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricingDropdownContent ul li{  /* aligne horizontalement les deux <p> des <li> */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/********** Button **********/
.pricingDropdownContent button { /* Join now */
    height: 40px;
    margin: 15px 0; 
    width: 100%;
    padding: 5px;

    background-color: white;
    border: 2px solid var(--color-primary);
    border-radius: 5px;

    color: var(--color-primary);
    font-size: 1em;

    transition: 0.3s;
}

.pricingDropdownContent button:hover{ /* hover premier et dernier bloc */
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
    color: white;
    transition: 0.3s;
}

.pricingDropdownContent button:active{  /* clique premier et dernier bloc */
    background-color:  var(--color-secondary);
    border-color: var(--color-secondary);
    transition: 0.3s;
}

/********** icon **********/
.fa-circle-xmark{ /* icon faux */
    color: rgb(138, 0, 0);
}

.fa-circle-check{ /* icon vraie */
    color: rgb(0, 71, 0);
}

.fa-circle-chevron-down{
    display: none;
}

.fa-circle-chevron-up{
    display: none;
}

#pricing ul li p i{ /* attributs des balises <i> */
    font-size: 1.2em;
    padding: 0 3px;
}


/******************** Section Blog ********************/
#blog{
    height: 800px;
    padding: 0 10%;
}

/********** article **********/
#blog article{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#blogText h2{
    text-align: center;
}

#blogText p{
    padding: 0 20%;
}

/********** blogContent **********/
#blogContent{
    display: flex;
    flex-direction: row;
}

/***** blogBloc *****/
.blogBloc{
    margin: 0 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    position: relative;
    flex: 1;
}

.blogBloc h3{
    width: 100%;
    font-size: 1.7em;
    padding-top: 20px;
}

.blogBloc p{
    width: 70%;
    padding: 20px 0;
    color: gray;
    text-align: left;
    padding: 15px 0 10px;
}

.blogBloc a{
    text-decoration: none;
}


/***** img *****/
.blogBloc img{
    border-radius: 5px;
    width: 100%;
    vertical-align: bottom;
}

/********** HoverText *********/
.blogOverlay{ 
    position: relative;
}

.blogHoverText{
    width:100%;
    height: 100%;

    padding: 0 1em;
    position: absolute;

    color: lightgray;
    line-height: 25px;
    border-radius: 5px;
    
    background: rgba(56, 56, 56, 0.6);
    opacity: 0;
    transition: 0.3s;
}

.blogOverlay:hover .blogHoverText {
    opacity: 1;
    transition: 0.3s;
}

.blogHoverText h3{
    font-size: 1.1em;
    color: lightgray;
}

.blogHoverText p{
    color: lightgray;
    padding: 0;
}


/******************** Section Contact ********************/
#contact{
    background-color: rgb(31, 31, 31);
    color: rgb(153, 153, 153);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footerSocials{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footerSocials a{
    width: 40px;
    height: 40px;
    margin: 2em 1em 0.5em 1em;

    color: rgb(153, 153, 153);
    border: 1px solid rgb(153, 153, 153);
    border-radius:50% ;

    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
}

.information a,.information p{
    color:rgb(153, 153, 153);
    text-decoration: none;
    margin: 0.5em 1em;
}

footer small{
    margin: 1em;
}

/******************************************************************************** responsive ********************************************************************************/

/**************************************** iPads ****************************************/
@media only screen
and (max-device-width : 1200px) {

/******************** General ********************/

/*********** Back to the top Button **********/
#topScroll{ 
    bottom: 25px;
    font-size: 3em;
    z-index: 99;
}

/******************** section home ********************/
#home{
    height: fit-content;
    padding: 10px 4%;
}

/********** Header **********/
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: initial;
}

.homeSocials{
    padding: 15px 0;
}

.homeSocials a i{
    font-size: 1.3em;
}

/********** nav **********/
nav{
    position: relative;

}

/********** menuBurger **********/
.navMenuBurger {
    display: none;
    position: relative;
}

.navMenuBurger.responsive{
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background-color: white;

    border-radius: 15px;
    position: absolute; /* absolute pour ne pas tout bouger */ 
}

.navMenuBurger.responsive li{    
    width: 40%;
    height: 100%;

    padding-top: 15px;
    padding-left: 15px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.navMenuBurger.responsive li:not(:last-child){
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.navMenuBurger li a{    
    color: var(--color-primary);
}

.iconClassBurger {
    display: block;
    align-self: flex-start;
    padding-top: 15px;
    padding-left: 15px;
    z-index: 10;
}

.iconClassBurger a{
    color: white;
}

/***** animation *****/
#iconBurgerSwap,
#iconBurgerSwap::before,
#iconBurgerSwap::after {

transition: 0.3s;

}

/********** homeContent **********/
#homeContent{
    height: fit-content;

    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;

    padding: 15px 0;
}

#homeContent article{
   flex: 0;
}

#homeContent figure {
   width: 40%;
   flex:0;
}

/********** homeText **********/
#homeText h2{  
    padding-top: initial; /* remove */
    font-size: 4em; /* smaller */
    text-align: center;
}

#homeText p{
    max-width: initial; /* removed limit */
    text-align: center; 
}

/********** form **********/
#homeContent form{
    max-width: initial;
}

#homeContent input{ /* texte sur le form  */
    height: 70px; /* bigger */
    border-radius: 20px;
    font-size: 1.5em ;
}

.submitEmail{ /* button du form */
    height: 60px; /* bigger */
    border-radius: 15px;
} 

/******************** Section Features ********************/
#features{
    height: fit-content;
    padding: 35px 30px;
}

.featuresText{
    height: 25%;

}

.featuresText p{
    width: initial;
}

/********** featuresContent **********/
.featuresContent{ 
    width: 100%;
    flex-direction: column;
    justify-content: flex-start; /* center => this */ 
    align-items: center;
}

.featuresDesign, 
.featuresColors, 
.featuresSolutions{
    width: 550px; /* bigger */
    height: fit-content; /* smaller */
    flex: 0; /* 1 => this  */
    margin: 20px 0 ; /* up and down marg */
    padding: 10px 0 ; /* up and down padd */
    justify-content: flex-start; /* center => this */
    border-radius: 15px;
}

.featuresDesign i,
.featuresColors i,
.featuresSolutions i{
    font-size: 2.5em; /* smaller */ 
    padding: 15px 0; /* up padd */
}

.featuresDesign h3,
.featuresColors h3,
.featuresSolutions h3{
    padding: 0;
    font-size: 2.5em; /* bigger */
}

.featuresDesign p,
.featuresColors p,
.featuresSolutions p{
    font-size: 1.5em;
    margin: 10px;
}

/******************** Section Work ********************/
#work{
    height: fit-content;
    padding: 35px 0;
}

.workText p{
    font-size: 1.5em;
    padding: 0 5%;
}

/******************** Section FAQ ********************/
#faq{
    padding: 15px 35px;
    height: fit-content;
}

#faqContent{
    padding: 0 10%;
}

/********** faqText **********/
#faqText h2 {
    padding: 0;
    font-size: 2.6em;
}

#faqText p{
    padding: 25px 0;
}

/********** faqContent **********/
#faqContent{
    flex-wrap: wrap;
}

/********** faqBloc  **********/
.faqBloc{
    padding: 35px 15px ;
}

.faqBloc figure img{
    height: 200px; 
    width: 200px;
}

.faqOverlay{
    width:200px; 
    height:200px;
}

.faqSocials{
    opacity: 1;
    bottom: 30px; 
    left: 25px;
}

.faqOverlay:hover .faqSocials{
    bottom: 30px;
    left: 25px;
}

/******************** Section Kucra ********************/
#kucra {
    width: 100%;
    height: fit-content;

    background-image: none;
    background-position: 80%;
}

#kucra article{    
    padding: 35px 0;
}

#kucraBackground{ 
    background-color: rgba(24, 24, 24, 0.8);
}

#kucra p{
    padding: 0 15px;
}

#btnKucra{    
    height: 70px;
    margin: 25px 0 0 0;
}

/******************** Section Client ********************/
#client{
    height: fit-content;
    padding: 0 5%;
}


#clientText h2{
    padding: 35px 0;
}

#clientText p{
    padding: 0 15px;
}

#clientGalerie{
    padding: 35px 15px;
    flex-direction: row;
    flex-wrap: wrap;
}

.imgClient{
    width: 160px;
}

/******************** Section About ********************/
#about{
    height: fit-content;
    padding: 35px 15px;
}

#about article{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

#aboutContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/********** aboutText **********/
.aboutText h2{
    text-align: center;
    font-size: 3em;
}

.aboutText p{
    width: 100%;
    text-align: center;
}

/********** aboutBloc **********/
.aboutBloc{ 
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.sousBloc{
    text-align: center;
}

/********** figure **********/
#about article figure img{
    display: none;
}

/********** Button **********/
#aboutContent button{
    width: 70%;
    height: 65px;

    margin-bottom: 15px;
}

/******************** Section Pricing ********************/
#pricing{
    height: fit-content;
    padding: 35px 15px;
}

#pricing article{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#pricingContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/***** pricingText *****/
#pricingText{
    width: 100%;
}

#pricingText p{
    padding: 0 10% ;
}

/********** pricing drop menu **********/

.pricingEventBtn {
    padding: 16px;
    cursor: pointer;
}

#pricingStart,
#pricingAdv, 
#pricingPro{
    display: block;
}
/***** changement de taille du fonds *****/ 
#pricingContent .pricingBackgroundFold{ 
    width: 450px;
    height: 140px ;
    margin: 20px 10px;
    transition: 0.3s ease-in;
}

#pricingContent .pricingBackgroundFold.unfold{
    height: 450px;
    transition: 0.3s ease-out;
}

/***** disparition/apparation du contentu *****/
.pricingDropdownContent{
    display: none;
}

.pricingDropdownContent.show {   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: calc(100% - 100px);
}

/***** icon *****/
.fa-circle-chevron-down{
    display: initial;
}

.fa-circle-chevron-up{
    display: initial;
}

/******************** Section Blog ********************/
#blog{
    height: fit-content;
    padding: 0 5%;
}

/********** article **********/
#blog article{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blogText p{
    padding: 0 15px;
}

/********** blogContent **********/
#blogContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/***** blogBloc *****/
.blogBloc{
    margin: 25px 10px;
    justify-content: center;
    align-items: center;
}

.blogBloc h3{
    font-size: 2em; /* bigger */
    padding-top: 10px; /* smaller */
    width: 100%;
    text-align: center;
}

.blogBloc p{
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}

.blogBloc  a{
    font-size: 1.2em;
}

/********** HoverText *********/
.blogHoverText{
    width:0%;
    height: 0%;
}

/***** img *****/
.blogBloc figure {
    width: 100%;
    padding: 0 10% ;
}

.blogBloc img{
    width: 100%;
}

}

/**************************************** Smartphones ****************************************/
@media only screen
and (max-device-width : 645px) {

/******************** General ********************/
.soustitreSection{
    padding: 0 15px;
}

/*********** Back to the top Button **********/
#topScroll{ 
    top: 50px;
    bottom: initial;
    font-size: 2em;
    z-index: 99;
}

/******************** section home ********************/
#home{
    padding: 1% 0 ;
    height: fit-content;
    width: 100%;
}

/********** Header **********/
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: initial;
}

h1{
    display: none;
}

.homeSocials a i{
    font-size: 1.2em;
}

/********** nav **********/
nav{
    position: relative;
}

/********** menuBurger **********/
.navMenuBurger{
    display: none;
}

.navMenuBurger{
    height: 0;
    justify-content: initial;
}

.navMenuBurger.responsive{
    align-items: flex-start; /* align left */ 
    z-index: 99; 
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;

}

.navMenuBurger.responsive li{    
    text-align: left;
    padding-top: 15px;
    padding-left:  15px;
}

.iconClassBurger {
    padding-top: 15px;
    padding-left: 15px;
    align-self: flex-start;
}

/********** homeContent **********/
#homeContent{
    height: fit-content;
    padding: 0 15px 35px;

}

#homeContent figure {
    display: none;
}

/********** homeText **********/
#homeText h2{  
    font-size: 3.5em; /* smaller */
    text-align: center;
    padding-top: 0;
}

#homeText p{
    max-width: initial; /* removed limit */
    text-align: center; 
}

/********** form **********/

#homeContent form{
    max-width: initial;
}

#homeContent input{ /* texte sur le form  */
    height: 60px; /* bigger */
    border-radius: 20px;
    font-size: 1em ;
}

.submitEmail{ /* button du form */
    height: 50px; /* bigger */
    border-radius: 15px;
} 

/******************** Section Features ********************/
#features{
    height: fit-content;
    padding: 35px 0;
}

.featuresText h2{
    font-size: 2.7em;
    padding: 0 15px;
}

.featuresDesign, 
.featuresColors, 
.featuresSolutions{
    width: 100%;
}

/******************** Section Work ********************/
#work{
    height: fit-content;
    padding: 35px 15px;
}

.workText p{
    font-size: 1.5em;
    padding: 0;
}

/******************** Section FAQ ********************/
#faq{
    padding: 35px 1% 0;
    height: fit-content;
}

#faqContent{
    padding: 0 10%;
}

/********** faqText **********/
#faqText{
    justify-content: space-evenly;
}

#faqText h2 {
    padding: 0 20px 35px;
    font-size: 2.4em;
    text-align: center;
}

#faqText p{
    padding: 0 15px;
}

.faqBloc{
    padding: 0;
    margin: 25px 0;
}

/******************** Section Kucra ********************/
#kucra{
    height: fit-content;
}

#kucra h2{
    padding: 0 15px 20px;
}

#kucra p{
    padding: 0 15px 20px;
}

/******************** Section Client ********************/
#client{
    height: fit-content;
    padding: 35px 0;
}

#client h2{
    padding: 0 0 35px;
}

#clientGalerie{
    padding: 25px 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgClient{
    width: 100px;
}

/******************** Section About ********************/
#about{
    height: fit-content;
    padding: 35px 15px;
}

.aboutBloc{
    padding: 25px 0;
}

.aboutText h2{
    text-align: center;
    font-size: 3em;
}


/******************** Section Pricing ********************/
#pricing{
    height: fit-content;
    padding: 20px 15px ;
}

#pricingStart, 
#pricingAdv, 
#pricingPro{ /* affecte pricingStart/advanced/pro */ 
    margin: 15px 0;
}

#pricingText p{
    padding: 0 15px;
}

#pricingContent .pricingBackgroundFold{
    width: 100%;
} 

/******************** Section Blog ********************/
#blog{
    height: fit-content; /* bigger */ 
    padding: 0 1%; /* smaller */
}

/********** article **********/
#blogText h2{
    padding: 35px 0;
}

#blogText p{
    padding: 0 15px;
}

/********** blogContent **********/

/***** blogBloc *****/

/********** HoverText *********/
.blogHoverText{
    display: none;
}

/***** img *****/
.blogBloc {
    width: 100%;
    margin: 15px 0;
    padding: 0 15px ;
}


.blogBloc figure {
    width: 100%;
    padding: 0 ;
}

/******************** footer ********************/
.information a,.information p{
    color:rgb(153, 153, 153);
    text-decoration: none;
    margin: 0.2em;
}

}